@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Pacifico', cursive;
}
body{
  height: 100vh;
  background: linear-gradient(#4ae5eb 0%, #0c476e);
}

.toDo{
  width: 30%;
  height: 25%;
  z-index: 1;
  background: #ffffff;
  border-radius: 10px 0px 10px 0px;
}

#toDoList , #inProgressList , #doneList {
  list-style-type: none;
  line-height: 10px;
  max-height: 50%;
  overflow: auto;
}
  
.task{
  color: #000000;
  text-align:center;
  font-size: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: #71a8a4;
}

#inProgressList li{
  background-color: rgb(219, 186, 96);
}

#doneList li{
  background-color: rgb(84, 170, 106);
}

.inProgress{
  width: 30%;
  height: 25%;
  z-index: 2;
  background: #b1b1b1;
  border-radius: 10px 0px 10px 0px;
  
}

.done{
  width: 30%;
  height: 25%;
  z-index: 3;
  background: #808080;
  border-radius: 10px 0px 10px 0px;
  
}

.toDo,.done,.inProgress header{
  font-size: 20px;
  font-weight: 400;
  text-align: center;
}

.newTask{
  float: inline-start;
  width: 80%;
}

@media screen and (max-width: 600px){
  .toDo{
    z-index: 1;
    width: 80%;
	top: 20%;
    left: 50%;
	position: absolute;
	transform: translate(-50%,-50%);
  }
  .inProgress{
    z-index: 2;
    width: 80%;
	left: 50%;
    top: 50%;
	position: absolute;
	transform: translate(-50%,-50%);
  }
  .done{
    z-index: 3;
    width: 80%;
    left: 50%;
    top: 80%;
	position: absolute;
	transform: translate(-50%,-50%);
  }
}

@media screen and (min-width:600px){
  .toDo{
    width: 30vw;
	height: 50vh;
    display: inline-block;
	margin: 1%;
	margin-left:3%;
	margin-top: 5%;
	position: fixed;

  }
  .inProgress{
    width: 30vw;
	height: 50vh;
    display: inline-block;
	margin: 1%;
	position: fixed;
	top: 8.3%;
	left: 34%;
  }
  .done{
    width: 30vw;
	height: 50vh;
    display: inline-block;
	margin: 1%;
	position: fixed;
	top: 8.3%;
	left: 66%;
  }
  .toDo header{
	font-size: 25px;
  }
  .inProgress header{
	font-size: 25px;
  }
  .done header{
	font-size: 25px;
  }
  .task{
	color: #000000;
	text-align:center;
	font-size: 30px;
	margin-top: 5px;
    margin-bottom: 5px;
    background-color: #71a8a4;
  }
  #toDoList , #inProgressList , #doneList {
    list-style-type: none;
	margin-top: 1vh;
    line-height: 35px;
	height: 40vh;
	max-height: 40vh;
    overflow: auto;
  }
  #inProgressList , #doneList {
	margin-top: 4.4vh;
  }
}

